fastapi
uvicorn

azure-cosmos
azure-monitor-opentelemetry
azure-core-tracing-opentelemetry
azure-monitor-events-extension
azure-identity
python-dotenv
python-multipart
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-openai
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-otlp

semantic-kernel[azure]==1.29.0
azure-ai-projects==1.0.0b10
openai 
azure-ai-inference 
azure-search-documents 
azure-ai-evaluation

opentelemetry-exporter-otlp-proto-grpc

yfinance
tenacity
langchain
sec_api
reportlab
mplfinance

# Testing tools
pytest>=8.2,<9  # Compatible version for pytest-asyncio
pytest-asyncio==0.24.0
pytest-cov==5.0.0


